

<div class="container"
*ngIf="metricSwitch">
<div class="row bg-primary text-white">
  <div class="col-md-4">  
    <button class="btn btn-danger btnD" (click)="switchDisplay()" >{{metricSwitch ? 'Metric' : 'English'}}</button>
   
    <h1>{{title}} </h1>
  </div>
</div> 
  <div class="">
    <div class="row">
      <div class="col-md-6">
        <h4>&nbsp;&nbsp;Centimeters</h4>
        <input class="form-control" [(ngModel)]="meter" type="number">
      </div>
        <div class="col-md-6">
        <h4>&nbsp;&nbsp;Kilograms</h4>
        <input class="form-control" [(ngModel)]="kilogram" type="number">
      </div></div>
 <div class="row">
   &nbsp;
 </div>   
<button class="btn btn-primary" (click)='calc()'> Calculate</button>
<h4>BMI Total: {{answer}} </h4>
</div>
</div>

<div class="container"
*ngIf="!metricSwitch">
<div class="row bg-primary text-white">
  <div class="col-md-4">  
    
      <h1>{{title}} </h1>
      <button class="btn btn-danger btnD" (click)="switchDisplay()" >{{metricSwitch ? 'Metric' : 'English'}}</button>
  </div>
</div>   
    <div class="row x">
      <div class="col-md-4">
        <h4>&nbsp;&nbsp;Feet</h4>
        <input class="form-control" [(ngModel)]="feet" type="number">
      </div>
      <div class="col-md-4">
        <h4>&nbsp;&nbsp;Inches</h4>
        <input class="form-control" [(ngModel)]="inch" type="number">
      </div>
      <div class="col-md-4">
        <h4>&nbsp;&nbsp;Pounds</h4>
        <input class="form-control" [(ngModel)]="weight" type="number">
        <div class="row">
      </div>
    </div> 
        
          &nbsp;
        </div> 
<button class="btn btn-primary" (click)='calc()'> Calculate</button>
<h4>BMI Total: {{answer}} </h4>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5"><button class="btn btn-danger  btnD2" (click)='showImageClick()'> BMI Chart</button></div>
</div>
<img src="../assets/Chart.jpg" alt="" *ngIf="showImage" height="auto" width="auto">